.button {
    padding: 0 2rem;
    height: 3.125rem;
    border-radius: 8px;

    font-weight: 500;
    background: var(--purple);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    cursor: pointer;
    border: 0;

    &.outlined {
      background: var(--white);
      border: 1px solid var(--purple);
      color: var(--purple);

      transition: background-color 0.3s;
      &:not(:disabled):hover {
        background: var(--purple);
        color: var(--white);
      }
    }

    transition: filter 0.2s;
    &:not(:disabled):not(.outlined):hover {
      filter: brightness(0.9);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  
}